<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static\app\scripts\Stylesheet2.css">
    <script src="static\app\scripts\index.js"></script>
    <title> Super Country Comparator</title>
</head>
<body>
    <h1>Super Country Comparator <span id="beta">(beta)</span></h1>
    <h2>South Americans countries with most frontiers</h2>
    <p id="disclaimer"> (Taken from this <a href="https://www.amock.io/api/fcmaia/countries">API</a>)</p>
    <div id="list">

    </div>
</body>
</html>